<div id="spinner"/>

<%= if Map.get(assigns, :render_navbar, true) do %>
<div id="navbar"/>
<% end %>

<%= @inner_content %>

<%= if Map.get(assigns, :render_footer, true) do %>
<div id="footer"/>
<% end %>

<%= if Map.get(assigns, :render_notification, true) do %>
<div id="notification"/>
<% end %>

<%= if Map.get(assigns, :render_news, true) do %>
<div id="news"/>
<% end %>