<!DOCTYPE html>
<html lang={lang_code(@conn)} class="dark"><!-- start with dark directly so that the dark users won't be blinded -->
  <head>
    <% page_title = assigns[:page_title] || "Global Api" %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(page_title) %>
    <meta name="msapplication-TileColor" content="#1f2937">
    <meta name="theme-color" content="#1f2937">

    <link phx-track-static href={Routes.static_url(@conn, "/assets/app.css")} rel="stylesheet" />
    <script defer phx-track-static src={Routes.static_url(@conn, "/assets/app.js")} type="text/javascript"></script>
    
    <meta property="og:title" content={page_title} />
    <%= if assigns[:page_description] do %>
      <meta property="og:description" content={assigns.page_description} />
    <% end %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-800 transition-all" id="base">

    <%= @inner_content %>

    <!-- people without JavaScript can't use the light theme -->
    <noscript class="fixed bottom-0 w-screen shadow-inner p-5 rounded-t-md bg-gray-700 text-gray-200 text-center" id="hide-no-js">
      <style>
          #hide-no-js:target {
              display: none;
          }
      </style>
      Hi!<br>
      Various parts of this website require JavaScript to be enabled, but it looks like JavaScript is disabled!<br>
      We don't have trackers, ads or whatever. So please enable JavaScript if you want this website to function normally.<br>
      <a class="text-red-400" href="#hide-no-js">Hide</a>
    </noscript>
  </body>
</html>