<header class="bg-white text-gray-900 dark:bg-gray-700 dark:text-gray-200 shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-center">
      Most recently uploaded skins
    </h1>
  </div>
</header>

<div id="overview">
</div>

<script defer src={Routes.static_url(@conn, "/js/page/skin.js")} type="module"></script>